<div class="flex my-14 justify-evenly flex-wrap h-screen">
    <div>
        <ul class="flex flex-col space-y-1 w-72 text-lg">
            <li class="active"><a href="/admin/dashboard" class="active mt-5">Dashboard</a></li>
            <li><a href="/admin/displayblog">Blogs</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>   
</div>