<%- include('../header.ejs')%>

<!-- dashboard start -->
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard" class="active mt-5">Dashboard</a></li>
                            <li><a href="/admin/displayblog">Blogs</a></li>
                            <li><a href="/admin/categoriedisplay">Categories</a></li>
                            <li><a href="/admin/aboutdisplay">About</a></li>
                            <li><a href="/admin/contactdisplay">contact</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <h1 class="mt-5">Welcome-<%= n %> </h1>
                        <h3>Email=<%= e %> </h3>
                        <p>Welcome to [Your Blog Name]!

                            Here, we dive into a world of engaging stories, insightful tips, and expert advice on [your blog's main topics, e.g., travel, technology, lifestyle, etc.]. Whether you're here to find inspiration, stay informed, or simply enjoy a good read, we’ve got something for everyone. Join our community, explore our latest posts, and let’s embark on this journey together. Happy reading!</p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- dashboard end -->

<%- include('../footer.ejs')%>